.sideBarContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  width: 112px;
  height: 100vh;
  background: var(--white);
}

.sideBarLogo {
  margin-top: 2rem;
}

.sideBarNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sideBarContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: none;
  color: var(--text);
}

.sideBarNav button.selected {
  color: var(--blue);
}

.sideBarNav button {
  height: 5rem;
}

.sideBarNav button > div {
  position: absolute;
  width: 0.3rem;
  height: 100%;
  left: 0;
  border-radius: 0 5px 5px 0;
  background: transparent;
}

@keyframes scale-up {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

.sideBarNav button > div.selected {
  background: var(--blue);
  animation: scale-up 0.2s;
}

.logOutButton {
  margin-bottom: 2rem;
}
