.container {
  height: 100vh;
  background-color: var(--blue);

  display: flex;
  align-items: stretch;
}

.container > img {
  width: min(100%, 768px);
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 1200px);
  padding: 50px 0;
}

.form {
  width: min(100%, 460px);
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form img {
  width: min(100%, 360px);
}

.form h1 {
  margin-top: 96px;
  margin-bottom: 24px;
  color: var(--white);

  font-size: 36px;
  line-height: 46px;
}

.form p {
  color: var(--text-highlight);
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form button {
  border: 0;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: var(--title);
  background-color: var(--background);

  width: 280px;
  height: 49px;
}

.form button svg {
 width: 25px;
 height: 25px;
}

.form p {
  margin-bottom: 40px
}

.content h1 {
  text-align: start;
}

@media (max-width: 700px) {
  .background {
    display: none;
  }

  .wrapContent {
    width: 90%;
  }
}
