@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220, 13%, 95%;
    --foreground: 222.2 84% 4.9%;

    --text: 0, 0%, 40%;
    --highlight: 235, 100%, 85%;
    --title: 221, 25%, 24%;
    --white: 0, 0%, 100%;
    --gray-line: 225, 6%, 87%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 235, 69%, 61%;
    --primary-foreground: 235, 44%, 50%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 235, 44%, 50%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 235, 69%, 61%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text;
  }
}
